
/* Ajustes de la tarjeta */
.ajuste-card {
  width: 22rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  background-color: #ffffff;
  padding: 10px;
  transition: transform 0.2s ease;
  margin: auto;  
}

/* Efecto hover suave */
.ajuste-card:hover {
  transform: translateY(-5px);
}

